.section {
  width: 90%;
  font-weight: 300;
  color: var(--color-black);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-white);
  padding: 1rem;
}

.section img {
  width: 15rem;
  height: 15rem;
}
