.card {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  color: #000;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 5px 5px 4px var(--color-grey-light-4);
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 14rem;
  height: 14rem;
}

.card span {
  font-size: 2rem;
  font-weight: 200;
  width: 100%;
  text-align: center;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.585);
}
